<a href="https://colab.research.google.com/github/pdm17/pdm17/blob/main/notebook/chap02_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3])

In [ ]:
a

In [ ]:
a[0]

In [ ]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
b

In [ ]:
 b[0][2]

In [ ]:
a = np.array([[ 0, 1, 2],
 		[ 3, 4, 5],
		[ 6, 7, 8]])

In [ ]:
a.shape

In [ ]:
a.ndim

In [ ]:
a.dtype

In [ ]:
a.itemsize

In [ ]:
a.size

In [ ]:
np.zeros( (3, 4) )

In [ ]:
np.ones( (3, 4), dtype=np.int32 )

In [ ]:
np.eye(3)

In [ ]:
x = np.ones(5, dtype=np.int64)

In [ ]:
x

In [ ]:
np.arange(5)

In [ ]:
np.arange(1, 6)

In [ ]:
np.arange(1, 10, 2)

In [ ]:
np.linspace(0, 10, 100)

In [ ]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])

In [ ]:
np.sort(arr)

In [ ]:
x = np.array([[1, 2], [3, 4]])

In [ ]:
y = np.array([[5, 6], [7, 8]])

In [ ]:
np.concatenate((x, y), axis=1)

In [ ]:
np.vstack((x, y))

In [ ]:
np.hstack((x, y))

In [ ]:
a = np.arange(12)

In [ ]:
a.shape

In [ ]:
a.reshape(3, 4)

In [ ]:
a.reshape(6, -1)

In [ ]:
array = np.arange(30).reshape(-1, 10)

In [ ]:
array

In [ ]:
arr1, arr2 = np.split(array, [3], axis=1)

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6])

In [ ]:
a.shape

In [ ]:
a1 = a[np.newaxis, :]

In [ ]:
a1

In [ ]:
a1.shape

In [ ]:
a2 = a[:, np.newaxis]

In [ ]:
a2.shape

In [ ]:
ages = np.array([18, 19, 25, 30, 28])

In [ ]:
ages[1:3]

In [ ]:
ages[:2]

In [ ]:
y = ages > 20

In [ ]:
y

In [ ]:
ages[ ages > 20 ]

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
a[0, 2]

In [ ]:
a[0, 0] = 12

In [ ]:
a

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
a[0:2, 1:3]

In [ ]:
arr1 = np.array([[1, 2], [3, 4], [5, 6]])

In [ ]:
arr2 = np.array([[1, 1], [1, 1], [1, 1]])

In [ ]:
result = arr1 + arr2

In [ ]:
result

In [ ]:
miles = np.array([1, 2, 3])

In [ ]:
result = miles * 1.6

In [ ]:
result

In [ ]:
arr1 = np.array([[1, 2], [3, 4], [5, 6]])

In [ ]:
arr2 = np.array([[2, 2], [2, 2], [2, 2]])

In [ ]:
result = arr1 * arr2

In [ ]:
result

In [ ]:
arr1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
arr2 = np.array([[2, 2], [2, 2], [2, 2]])

In [ ]:
result = arr1 @ arr2

In [ ]:
result

In [ ]:
A = np.array([0, 1, 2, 3])

In [ ]:
10 * np.sin(A)

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
a.sum()

In [ ]:
a.min()

In [ ]:
a.max()

In [ ]:
scores = np.array([[99, 93, 60], [98, 82, 93],
               [93, 65, 81], [78, 82, 81]])

In [ ]:
scores.mean(axis=0)

In [ ]:
np.random.seed(100)

In [ ]:
np.random.rand(5)

In [ ]:
np.random.rand(5, 3)

In [ ]:
np.random.randn(5)

In [ ]:
np.random.randn(5, 4)

In [ ]:
m, sigma = 10, 2

In [ ]:
m + sigma*np.random.randn(5)

In [ ]:
mu, sigma = 0, 0.1 	# 평균과 표준 편차

In [ ]:
np.random.normal(mu, sigma, 5)

In [ ]:
a = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20])

In [ ]:
unique_values = np.unique(a)

In [ ]:
unique_values

In [ ]:
arr = np.array([[1, 2], [3, 4], [5, 6]])
print(arr.T)

In [ ]:
x = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [ ]:
x.flatten()

##PANDAS

In [ ]:
import numpy as np
import pandas as pd

x = pd.read_csv('countries.csv', header=0).values
print(x)

##Graph Using Matpoltlib
- line plot
- bar plot
- histogram
#시그모이드 함수와 도함수 그래프

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

X = [ "Mon", "Tue", "Wed", "Thur", "Fri",  "Sat", "Sun" ] 
Y1 = [15.6, 14.2, 16.3, 18.2, 17.1, 20.2, 22.4]
Y2 = [20.1, 23.1, 23.8, 25.9, 23.4, 25.1, 26.3]

plt.plot(X, Y1, label="Seoul")		# 분리시켜서 그려도 됨
plt.plot(X, Y2, label="Busan")		# 분리시켜서 그려도 됨
plt.xlabel("day")
plt.ylabel("temperature")
plt.legend(loc="upper left")
plt.title("Temperatures of Cities")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

X = [ "Mon", "Tue", "Wed", "Thur", "Fri",  "Sat", "Sun" ] 
plt.plot(X, [15.6, 14.2, 16.3, 18.2, 17.1, 20.2, 22.4], "sm")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

X = [ "Mon", "Tue", "Wed", "Thur", "Fri",  "Sat", "Sun" ] 
Y = [15.6, 14.2, 16.3, 18.2, 17.1, 20.2, 22.4]
plt.bar(X, Y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

numbers = np.random.normal(size=10000)

plt.hist(numbers)
plt.xlabel("value")
plt.ylabel("freq")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
X = np.arange(0, 10)
Y = X**2
plt.plot(X, Y)
plt.show()

In [ ]:
X = np.arange(0, 10)
Y1 = np.ones(10)
Y2 = X 
Y3 = X**2 
plt.plot(X, Y1, X, Y2, X, Y3)
plt.show()

In [ ]:
import matplotlib.pyplot as plt 
import numpy as np 
import math 
  
X = np.linspace(-10, 10, 100) 
Y = 1/(1 + np.exp(-X)) 
  
plt.plot(X, Y) 
plt.xlabel("x") 
plt.ylabel("Sigmoid(X)") 
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

def sigmoid(x):
    s=1/(1+np.exp(-x))
    ds=s*(1-s)  		# 시그모이드 함수 1차 미분 함수
    return s,ds

X = np.linspace(-10, 10, 100) 
Y1, Y2 = sigmoid(X)
  
plt.plot(X, Y1, X, Y2) 
plt.xlabel("x") 
plt.ylabel("Sigmoid(X), Sigmoid'(X)") 
plt.show()